@model IEnumerable<IQMStarterKit.Models.Core.TempActivity>

@{
    ViewBag.Title = "Activities";
}

@section scripts{ 
    <script>
     $(document).ready(function () {
         //$('#activityTable').DataTable({
         //    "bLengthChange": false,
         //    "bFilter": false,
         //    "bSort": false
         //});
        });
    </script>
}
<style>
    .dataTables_wrapper .dataTables_length {
        float: right;
    }

    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: left;
    }
</style>

<h2>Activity List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table style="width:100%" class="table table-striped table-bordered" id="activityTable" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempModuleId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SortOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TempModuleId)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TempActivityId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TempActivityId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TempActivityId })
                </td>
            </tr>

        }
    </tbody>
</table>


