@model IEnumerable<IQMStarterKit.Models.Core.TempActivity>

@{
    ViewBag.Title = "Activity";
}

<h2>Activity List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SortOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempModuleId)
        </th>
       
       <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SortOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempModuleId)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TempActivityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TempActivityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TempActivityId })
        </td>
    </tr>
}

</table>
