
@model  IEnumerable<IQMStarterKit.Models.Report.GroupActivityPercentage>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container1">

        <div class="page-header"><h4>Percentage of Activities Completed</h4></div>

        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-xs">Export</button>
            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Excel", "ExportToExcel", new { @reportName = "GroupPercentageReport" })</li>
                <li>@Html.ActionLink("PDF", "GroupPercentageExportToPDF", new { @reportName = "GroupPercentageReport" })</li>
                <li><a href="javascript:window.print()">Print</a></li>
            </ul>
        </div>


        <table id="activity" style="width:100%" class="display" cellspacing="0">
            <thead>
                <tr>
                  
                    <th>Group Name</th>
                    <th>PDP Progress (%)</th>
                    
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.GroupName)</td>
                        <td>
                            <span class="progress-bar" role="progressbar" aria-valuenow="@item.ProgressValue" aria-valuemin="0" aria-valuemax="100" style="width: @item.ProgressValue%">@item.ProgressValue%</span>
                        </td>
                        
                    </tr>
                }
            </tbody>

        </table>

    </div>

}

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#activity').DataTable({
                "bLengthChange": false,
                "bFilter": true

            });

        });
    </script>

}


