
@model IQMStarterKit.Models.Report.GroupFeedbackTutor

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div  class="main_container">

        <div class="page-header"><h4>Tutor Survey Group Feedback</h4></div>

        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-xs">Export</button>
            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Excel", "ExportToExcel", new { @reportName = "TutorSurveyReport" })</li>
                <li>@Html.ActionLink("PDF", "TutorSurveyExportToPDF", new { @reportName = "TutorSurveyReport" })</li>
                <li><a href="javascript:window.print()">Print</a></li>
            </ul>
        </div>

        <h4>Ratings</h4>
        <table id="comments" style="width:100%" class="display" cellspacing="0">
            <thead>
                <tr>
                    <th>Group Name</th>
                    <th>Tutor Name</th>
                    <th>(1 to 8) Rating</th>
                    <th>Overall Rating</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.TutorRatings)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.GroupName)</td>
                        <td>@Html.DisplayFor(m => item.FullName)</td>
                        @{ 
                            var output = DDLHelper.GetStarRating(float.Parse(item.GroupAveRating.ToString()));
                            string star = Server.HtmlDecode(output);
                        }
                        <td align="center">@Html.Raw(star) (@item.GroupAveRating)</td>
                        <td align="center">@DDLHelper.GetRating(item.OverallRating) (@item.OverallRating)</td>
                        
                    </tr>
                }
            </tbody>

        </table>

        <h4>Comments</h4>
        <table id="activity" style="width:100%" class="display" cellspacing="0">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Tutor Name</th>
                    <th>Comments</th>
                   
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.GroupTutorComments)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.FullName)</td>
                        <td>@Html.DisplayFor(m => item.TutorName)</td>
                        <td>@Html.DisplayFor(m => item.Comment)</td>
                      
                    </tr>
                }
            </tbody>

        </table>

    </div>

}

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#activity').DataTable({
                "bLengthChange": false,
                "bFilter": true,
                "paging": true

            });

            $('#comments').DataTable({
                "bLengthChange": false,
                "bFilter": true,
                "paging": true

            });
        });
    </script>

}


