@model IQMStarterKit.Models.StudentBookViewModel

@using (Html.BeginForm())
{
    <STYLE TYPE="text/css">
        .breakhere {
            page-break-after: always
        }
    </STYLE>

    <div class="main_container">
        <h2>Student Name: @Model.StudentName</h2>
        <div style="text-align: center;">
            <h1 id="p1welcomeAspire">Welcome to the Personal Development Programme (PDP)</h1>
            <img id="p1handPlant" src="~/Content/img/hands-with-plant.jpg" alt="Holding a Plant Graphic">
            <h2>Effective Soft Skills</h2>
        </div>

    </div>

    <hr />
    <p class="breakhere" />

    <div class="main_container">
        <div style="text-align: center;">
            <h1 class="heading">Programme Objectives</h1>

            <ul class="p2objList">
                <li> <span class="glyphicon glyphicon-ok"></span> &nbsp; Promote <strong>academic achievement, pesronal effectiveness</strong> and a <strong>successful transition</strong> into the workplace.</li>
                <li> <span class="glyphicon glyphicon-ok"></span> &nbsp; Raise <strong>student's self awareness.</strong></li>
                <li> <span class="glyphicon glyphicon-ok"></span> &nbsp; Equip students with skills that enable them to be <strong>professional, self-motivated </strong> and <strong>productive</strong> members of the New Zealand workforce.</li>
            </ul>
            <div id="p2dartimg">
                <img src="~/Content/img/dart.png" alt="dart graphic">
            </div>
        </div>
    </div>

    <hr />
    <p class="breakhere" />


    <div class="main_container">
        <div style="text-align: center;">
            <p id="p4preMind">Is yours a 'prepared mind?'</p>
            <p id="p4preMind2">How or what did you do to prepare your Mind?</p>
            <p id="p4preMind3">What do you need to be prepared for?</p>

            <div id="p4worldAskimg">
                <img src="~/Content/img/worldAsk.png" alt="World with Question Mark">
            </div>
        </div>
    </div>

    <hr />
    <p class="breakhere" />


    <div class="main_container">

        <p class="p5words"> You will be experiencing many new things: new country, new expectations...we will...</p>

        <ul class="p5words">
            <li> Identify some differences between NZ and your home country.</li>
            <li> Suggest how you can better prepare yourself to cope with these differences.</li>
        </ul>
        <br />
    </div>


    <hr />
    <p class="breakhere" />

    <div class="main_container">
        <h1 class="heading">Course Requirements</h1>

        <ul class="p6List">
            <li> PDP is an Integral part of your Diploma course in Aspire 2 International; <strong>attendance is compulsory</strong>.</li>
            <li> Completion of class exercises, questionnaires, reflection journals, topical quizzes</li>
            <li> Class participation!!!</li>
        </ul>

        <div id="p6checklistimg">
            <img src="~/Content/img/checklist.png" alt="Checklist graphic">
        </div>
    </div>

    <hr />
    <p class="breakhere" />

    <div class="main_container">
        <h1 class="heading">Attendance Issues</h1>

        <ul class="p7List">
            <li> Attendance must be 100%, with absence supported by a medical certificate. <br /><span style="color:red;">(We are not in a position to grant leave.)</span></li>
            <li> Late for 15 minutes and more can be marked absent for an entire hour; you may not be allowed into class until break time. Leaving the class early is considered absent.</li>
            <li> As an act of courtesy, contact the Student Service Team if you are going to be late or absent.</li>
        </ul>

    </div>

    <hr />
    <p class="breakhere" />

    <div class="main_container">
        <h1 class="heading">Student Services Contact Details</h1>

        <ul class="p8List">
            <li> Office - Ground Level, Tower C</li>
            <li> Telephone - <strong>09 5555 400</strong> </li>
            <li> Email - reception@aspire2.ac.nz</li>
        </ul>

    </div>

    <hr />
    <p class="breakhere" />



    <div class="main_container">
        <div style="text-align:center">
            <h1 class="heading">About the Programme</h1>
            <p class="p9List">The programme comprises two components:</p>
            <ul class="p9List">
                <li> Personal Effectiveness</li>
                <li> Aspire2work job search and CVs</li>
            </ul>

            <div id="p9img">
                <img src="~/Content/img/Great-Impression.jpg" alt="Great Impression graphic">
                <img src="~/Content/img/looking-for-a-job.jpg" alt="Job Hunting graphic">
            </div>
        </div>
    </div>

    <hr />
    <p class="breakhere" />



    <div class="main_container">
        <h1 class="heading">Topics</h1>

        <table class="p10_11List">
            <tr class="p10TabRow">
                <td class="p10_11Mod"> <ul> <li>Module 1 </li></ul></td>

                <td> Introduction/ My Shield/ About Me/ Class Contract/ VARK/ Human Bingo/ Photo Scavenger Hunt/ Personal Profiling</td>
            </tr>
            <tr class="p10_11TabRow">
                <td> <ul><li>Module 2 </li></ul></td>
                <td> Spirit of NZ/ NZ My New Home/ Kiwiana</td>
            </tr>
            <tr class="p10_11TabRow">
                <td>  <ul><li>Module 3 </li></ul></td>
                <td> Cheese/ Proactive/ Personal Leadership/ Goal Setting</td>
            </tr>
            <tr class="p10_11TabRow">
                <td>  <ul><li>Module 4 </li></ul></td>
                <td> First Thing First/ Self Mgmt</td>
            </tr>
            <tr class="p10_11TabRow">
                <td><ul><li>Module 5 </li></ul></td>
                <td> Win Win/ Consensus/ Team Building</td>
            </tr>
            <tr class="p10_11TabRow">
                <td class="p10_11Mod"><ul>  <li>Module 6 </li></ul></td>

                <td> Seek First to Understand/ Communication Academic Me/ Report Writing/ Note Taking/ Referencing</td>
            </tr>
            <tr class="p10_11TabRow">
                <td> <ul> <li>Module 7 </li></ul></td>
                <td> Synergise/ Problem Solving/ Conflict</td>
            </tr>
            <tr class="p10_11TabRow">
                <td>  <ul><li>Module 8 </li></ul></td>
                <td> Sharpen the Saw/ Presentations/ Maturity Continuum/ Personal SWOT</td>
            </tr>
            <tr class="p10_11TabRow">
                <td> <ul> <li>Module 9 </li></ul></td>
                <td> Evaluations/ Fish Philosophy</td>
            </tr>
            <tr class="p10_11TabRow">
                <td><ul><li>Module Aspire2work </li></ul></td>
                <td> CVs/ Technology and Me</td>
            </tr>
        </table>

        <div id="p10_11topicimg">
            <img src="~/Content/img/topic.png" alt="Topic graphic">
        </div>
    </div>

    <hr />
    <p class="breakhere" />

    <div class="main_container">
        <h1 class="heading">About the Programme</h1>

        <ul class="p12List">
            <li>
                The Main subject/topic of the Personal Development Programme is...

                <div id="p12img">
                    <img src="~/Content/img/you1.png" alt="Pointing at You graphic">
                </div>
            </li>
            <li> So make the most of it, take an interest, participate in class and enjoy the learning journey!</li>
        </ul>
    </div>


    <hr />
    <p class="breakhere" />


    <div class="main_container">
        <h1 class="heading">You may be interested...</h1>
        <p class="p13"><u>Short Courses</u></p>
        <ul class="p13List">
            <li>Barista Skills</li>
            <li>License Controller Qualification (LCQ)</li>
            <li>Creating Classic Coctails</li>
            <li>Introduction to Wine and Beer</li>
        </ul>
        <p class="p13"><strong>For more information, see Torika of the International Team (Ground Floor)</strong></p>

    </div>


    //PageA02 Skipped (FileUpload) Code of Arms Shield

    //PageA03 About Me

    if (Model.AboutMe != null)
    {
        <hr />
        <p class="breakhere" />

        <div class="main_container">

            <div class="p15AboutMeContainer">
                <img id="p15aboutMeImg" src="~/Content/img/AboutMe.jpg">

                @Html.EditorFor(model => model.AboutMe.Name, new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtbox form-control", id = "p15Name" } })
                @Html.EditorFor(model => model.AboutMe.Place, new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtbox form-control", id = "p15Place" } })
                @Html.EditorFor(model => model.AboutMe.Hobby, new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtarea form-control", id = "p15Hobby" } })
                @Html.EditorFor(model => model.AboutMe.Movie, new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtbox form-control", id = "p15Movie" } })
                @Html.EditorFor(model => model.AboutMe.Important, new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtbox form-control", id = "p15Important" } })
                @Html.EditorFor(model => model.AboutMe.Model, new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtbox form-control", id = "p15Model" } })
                @Html.EditorFor(model => model.AboutMe.Happy, new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtbox form-control", id = "p15Happy" } })
                @Html.EditorFor(model => model.AboutMe.Dislike, new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtbox form-control", id = "p15Dislike" } })
                @Html.EditorFor(model => model.AboutMe.Famous, new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtbox form-control", id = "p15Famous" } })

            </div>
        </div>
    }

    <hr />
    <p class="breakhere" />

    //contracts

    <div class="main_container">
        <div style="text-align:center;">
            <h1 class="heading">Tutor-Student Contract</h1>

            <div id="p16img">
                <img src="~/Content/img/contract.png" alt="Contract graphic">
            </div>

            <ul class="p16List">
                <li>What students expect from tutors</li>
                <li>What tutors can expect from students</li>
            </ul>

        </div>


    </div>


    <hr />
    <p class="breakhere" />

    <div class="main_container">
        <h1 class="heading">Classroom Rules</h1>
        <br />
        <p class="p17-19List"><span class="glyphicon glyphicon-ok"></span> &nbsp; Speak English Only</p>
        <ul class="p17-19List">
            <li>Students from different parts of the world.</li>
            <li>Great opportunity to improve English.</li>
            <li>Good spoken English helps in job search.</li>
        </ul>


    </div>

    <hr />
    <p class="breakhere" />




    <div class="main_container">
        <h1 class="heading">Classroom Rules</h1>
        <br />
        <p class="p17-19List"><span class="glyphicon glyphicon-ok"></span> &nbsp; Punctuality</p>
        <ul class="p17-19List">
            <li>Is respect for your tutor and your classmates.</li>
            <li>Shows that you are well disciplined and take what you are doing seriously.</li>
        </ul>


    </div>

    <hr />
    <p class="breakhere" />

    <div class="main_container">
        <h1 class="heading">Classroom Rules</h1>
        <br />
        <p class="p17-19List"><span class="glyphicon glyphicon-ok"></span> &nbsp; Lanyards</p>
        <ul class="p17-19List">
            <li>Wear your temporary ID and your lanyard at all times.</li>
            <li>When your permanent ID is issued insert it in your lanyard ID holder and use it at all times.</li>
        </ul>


    </div>

    <hr />
    <p class="breakhere" />


    <div class="main_container">
        <h1 class="heading">Classroom Rules</h1>
        <br />
        <p class="p17-19List"><span class="glyphicon glyphicon-ok"></span> &nbsp; Talking while the tutor is teaching or while your classmates are presenting shows:</p>
        <ul class="p17-19List">
            <li>Disrespect</li>
            <li>Disinterest</li>
            <li>Disruptiveness</li>
        </ul>


    </div>

    <hr />
    <p class="breakhere" />

    <div class="main_container">
        <h1 class="heading">Electronics Etiquette</h1>
        <br />
        <ul class="p20-22List">
            <li><span class="glyphicon glyphicon-ok"></span> &nbsp; Do not use laptops unless instructed to do so by your tutors</li>
            <li><span class="glyphicon glyphicon-ok"></span> &nbsp; Switch all electronic devices to silent or off</li>
        </ul>
        <div id="p20-22img">
            <img src="~/Content/img/noPhoneLaptop.png" alt="No Phone and Laptop Allowed graphic">
        </div>


    </div>

    <hr />
    <p class="breakhere" />



    <div class="main_container">
        <h1 class="heading">Classroom Rules</h1>
        <br />
        <ul class="p20-22List">
            <li><span class="glyphicon glyphicon-ok"></span> &nbsp; Work with different people.</li>
            <li><span class="glyphicon glyphicon-ok"></span> &nbsp; Be sensitive and respectful towards others and their culture.</li>
            <li><span class="glyphicon glyphicon-ok"></span> &nbsp; Interact with others; make new friends.</li>
        </ul>
        <div id="p20-22img">
            <img src="~/Content/img/spongebob.png" alt="Spongebob and Patrick graphic">
        </div>

    </div>

    <hr />
    <p class="breakhere" />



    <div class="main_container">
        <h1 class="heading">Classroom Rules</h1>
        <br />
        <ul class="p20-22List">
            <li><span class="glyphicon glyphicon-ok"></span> &nbsp; The activities and exercises are <strong>NOT</strong> about winning, it’s the learning that’s more important.</li>
        </ul>
        <p id="p22Cheating"> Cheating is not allowed.</p>
        <div id="p20-22img">
            <img src="~/Content/img/ThumbDown.png" alt="Thumbs Down graphic">
        </div>

    </div>


    //vark

    if (Model.VarkResult != "")
    {



    <hr />
    <p class="breakhere" />



    <div class="main_container">

        <div class="form-group">

        <h1>VARK</h1>

        <div class="alert alert-success"> Your VARK Result: <strong>@Model.VarkResult</strong></div>
        <div class="col-md-offset-0 col-md-12">

        <div class="panel panel-info">
        <div class="panel-heading"><strong>Visual</strong></div>
        <div class="panel-body">This preference includes the depiction of information in maps, spider diagrams, charts, graphs, flow charts, labelled diagrams, and all the symbolic arrows, circles, hierarchies and other devices, that people use to represent what could have been presented in words. This mode could have been called Graphic (G) as that better explains what it covers. It does NOT include still pictures or photographs of reality, movies, videos or PowerPoint. It does include designs, whitespace, patterns, shapes and the different formats that are used to highlight and convey information. When a whiteboard is used to draw a diagram with meaningful symbols for the relationship between different things that will be helpful for those with a Visual preference. It must be more than mere words in boxes that would be helpful to those who have a Read/write preference.</div>
        </div>
        <div class="panel panel-info">
        <div class="panel-heading"><strong>Aural / Auditory</strong></div>
        <div class="panel-body">This perceptual mode describes a preference for information that is “heard or spoken.” Learners who have this as their main preference report that they learn best from lectures, group discussion, radio, email, using mobile phones, speaking, web-chat and talking things through. Email is included here because; although it is text and could be included in the Read/write category (below), it is often written in chat-style with abbreviations, colloquial terms, slang and non-formal language. The Aural preference includes talking out loud as well as talking to oneself. Often people with this preference want to sort things out by speaking first, rather than sorting out their ideas and then speaking. They may say again what has already been said, or ask an obvious and previously answered question. They have need to say it themselves and they learn through saying it – their way.</div>
        </div>
        <div class="panel panel-info">
        <div class="panel-heading"><strong>Read/write</strong></div>
        <div class="panel-body">This preference is for information displayed as words. Not surprisingly, many teachers and students have a strong preference for this mode. Being able to write well and read widely are attributes sought by employers of graduates. This preference emphasizes text-based input and output – reading and writing in all its forms but especially manuals, reports, essays and assignments. People who prefer this modality are often addicted to PowerPoint, the Internet, lists, diaries, dictionaries, thesauri, quotations and words, words, words… Note that most PowerPoint presentations and the Internet, GOOGLE and Wikipedia are essentially suited to those with this preference as there is seldom an auditory channel or a presentation that uses Visual symbols.</div>
        </div>
        <div class="panel panel-info">
        <div class="panel-heading"><strong>Kinesthetic</strong></div>
        <div class="panel-body">By definition, this modality refers to the “perceptual preference related to the use of experience and practice (simulated or real).” Although such an experience may invoke other modalities, the key is that people who prefer this mode are connected to reality, “either through concrete personal experiences, examples, practice or simulation” [See Fleming & Mills, 1992, pp. 140-141]. It includes demonstrations, simulations, videos and movies of “real” things, as well as case studies, practice and applications. The key is the reality or concrete nature of the example. If it can be grasped, held, tasted, or felt it will probably be included. People with this as a strong preference learn from the experience of doing something and they value their own background of experiences and less so, the experiences of others. It is possible to write or speak Kinesthetically if the topic is strongly based in reality. An assignment that requires the details of who will do what and when, is suited to those with this preference, as is a case study or a working example of what is intended or proposed.</div>
        </div>

        </div>

        </div>
    </div>
    }

    //skipped photo scavener and human bingo upload

    //dope
    if (Model.DopeResult != "")
    {
        var explanation = string.Empty;

        switch (Model.DopeResult)
        {
            case "Dove":
                explanation = "The peaceful dove. The dove is people-orientated, loyal, friendly, hard-working and a great team player but tends to avoid change, confrontation, risk-taking and assertiveness.";
                break;
            case "Owl":
                explanation = "The wise owl. The owl is logical, mathematically minded, methodical and sometimes seen as a perfectionist. The owl can be slow to make decisions and inflexible if rules and logic says otherwise. Owls are not big risk takers but love detail.";
                break;
            case "Peacock":
                explanation = "The showy peacock. The peacock loves talking, being the center of attention, has passion/ enthusiasm and is happy/ optimistic. Peacocks can be accused of talking too much, and aren’t good with detail or time-control.";
                break;
            case "Eagle":
                explanation = "The bold eagle. Eagles are dominant, stimulated by challenge, decisive and direct. Eagles can be blunt/ stubborn, can lose sight of the big-picture and can be insensitive to other people’s needs. Eagles are natural achievers.";
                break;

        }
        <hr />
        <p class="breakhere" />
        <div class="main_container">
            <h1 class="heading"><u>D.O.P.E Personal Profiling</u></h1>
                <br /><br />
                <div class="col-md-offset-0 col-md-12">

                    <div class="panel panel-info">
                        <div class="panel-heading">Your DOPE Result: <strong>@Model.DopeResult</strong></div>
                        <div class="panel-body">@explanation</div>
                    </div>

                </div>
        </div>
    }

    //disc

    if (Model.DiscResult != "")
    {

        var explanation = string.Empty;

        switch (Model.DiscResult)
        {
            case "Dominant":
                explanation = "The D Personality Style tends to be direct and decisive, sometimes described as dominant. They would prefer to lead than follow, and tend towards leadership and management positions. They tend to have high self-confidence and are risk takers and problem solvers, which enables others to look to them for decisions and direction. They tend to be self-starters.";
                break;
            case "Influential":
                explanation = "The I Personality Style is not afraid to be the center of attention. They are enthusiastic, optimistic, talkative, persuasive, impulsive and emotional. This Personality Type will trust others naturally, truly enjoys being around others, and functions best when around people and working in teams.";
                break;
            case "Steady":
                explanation = "The S Personality Type is known for being steady, stable, and predictable. They are even-tempered, friendly, sympathetic with others, and very generous with loved ones. The S is understanding and listens well. Preferring close, personal relationships, the S is very opened with loved ones, but can also be possessive at times and hold them close.";
                break;
            case "Conscientious":
                explanation = "The C DISC Styles are accurate, precise, detail-oriented, and conscientious. They think very analytically and systematically and make decisions carefully with plenty of research and information to back it up. The C has very high standards for both themselves and others. Because they focus on the details and see what many other styles do not, they tend to be good problem solvers and very creative people.";
                break;
        }

        <hr />
        <p class="breakhere" />

        <div class="main_container">
            <h1 class="heading"><u>DISC Personality Profiling</u></h1>
              
                <br /><br />
                <div class="col-md-offset-0 col-md-12">

                    <div class="panel panel-info">
                        <div class="panel-heading">Your DISC Result: <strong>@Model.DiscResult</strong></div>
                        <div class="panel-body">@explanation</div>
                    </div>

                </div>
            </div>
    }

}
