@model  IEnumerable<IQMStarterKit.Models.VarkViewModel>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container1">

        <div class="page-header"><h2>VARK Report <small>(Visual, Auditory, Read/Write, and Kinesthetics)</small></h2></div>

        @*<div class="col-md-12">
            @Html.ActionLink("Excel", "ExportToExcel", new { @class="btn btn-primary"})
        </div>*@
        
        <table id="vark" style="width:100%" class="display" cellspacing="0">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>VARK Result</th>
                    <th>Group Name</th>
                    <th>DateTime Taken</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.FullName)</td>
                        <td>@Html.DisplayFor(m => item.VarkResult)</td>
                        <td>@Html.DisplayFor(m => item.GroupName)</td>
                        <td>@Html.DisplayFor(m => item.CreatedDateTime)</td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

}

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#vark').DataTable({
                "bLengthChange": false,
                "bFilter": true
            });
        });
    </script>

 }
