@model IEnumerable<IQMStarterKit.Models.Core.TempModule>

@{
    ViewBag.Title = "Modules";
}

<h2>Module List</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "form-control" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th><text>Total No. of Activities</text></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @item.TempActivities.Count()
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TempModuleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TempModuleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TempModuleId })
        </td>
    </tr>
}

</table>
