@model IEnumerable<IQMStarterKit.Models.GroupModel>
@using IQMStarterKit.Models
@using Microsoft.AspNet.Identity

<h2></h2>

@if (User.IsInRole("Administrator")) {
<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
</p>
}

<div class="table-responsive">          
<table style="width:100%" class="table table-striped table-bordered" id="groupTable" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
           
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>

        @if (User.IsInRole("Tutor"))
        {

            foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                   
                    @Html.ActionLink("Configure", "Index", "GroupActivityConfigs", new { GroupId = item.GroupId }, null) 
                   
                </td>
            </tr>
            }
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                       
                        @Html.ActionLink("Configure", "Index", "GroupActivityConfigs", new { GroupId = item.GroupId }, null) |
                        @Html.ActionLink("Assign Tutor", "Index", "GroupTutorModels", new { id = item.GroupId }, null) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.GroupId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.GroupId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.GroupId })

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#groupTable').DataTable({
                "bLengthChange": false,
                "bFilter": false
            });
        });
    </script>
}