@model IEnumerable<IQMStarterKit.Models.TempWorkbook>

<h3>Workbook List</h3>

<table class="table table-striped table-bordered" id="workbooks" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TempWorkbookId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TempWorkbookId }) 
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#workbooks').DataTable({
                "bLengthChange": false,
                "bFilter": false
            });
        });
    </script>
}