@model IQMStarterKit.Models.ExtendedUserCustom

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create User</h4>
        <hr />
       
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger", @role = "alert"  })
        
        <div class="form-group">
            @Html.LabelFor(model => model.Email,
                htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email,
                    new {  @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Email,
                    "",
                    new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.FullName,
                htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FullName,
                    new {  @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.FullName,
                    "",
                    new { @class = "text-danger" })
            </div>
        </div>

       
        <div class="form-group">
            @Html.LabelFor(model => model.Password,
                htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password,
                    new {  @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Password,
                    "",
                    new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Roles,
                htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Roles", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Back to List",
                    "Index",
                    null,
                    new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

