@model IQMStarterKit.Models.UserAndRolesCustom

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    @Html.ValidationSummary(true,
        "",
        new { @class = "text-danger" })
    <div class="col-md-5 form-inline" style="margin-bottom:20px;">
        @Html.ActionLink("Back",
            "EditUser",
            new { Email = Model.Email },
            new { @class = "btn btn-default" })
        <input type="submit" value="Add Role" class="btn btn-default" />
        @Html.DropDownList("AddRole", null, new { @class = "form-control"}) 
    </div>

    <br />

    <table id="role" class="display;" style="width:60%;">
        <thead>
            <tr>
                <th>
                    Existing Roles:
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.colUserRole)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        @if (!((Model.Email.ToLower() ==
                        this.User.Identity.Name.ToLower()) &&
                       item.RoleName == "Administrator") &&
                     item.RoleName != "No Roles Found")
                        {
                            @Html.ActionLink("Delete", "DeleteRole",
                            new { Email = item.Email, RoleName = item.RoleName },
                            new
                            {
                                onclick =
                                    "return confirm('Are you sure you wish to delete this role?');"
                            })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@section Scripts {

    <script>
        $(document).ready(function () {
            $('#role').DataTable({
                "bLengthChange": false,
                "bFilter": false,
                "paging": false

            });



        });

    </script>

}