@model IQMStarterKit.Models.UserAndRolesCustom

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    @Html.ValidationSummary(true,
        "",
        new { @class = "text-danger" })
    <div style="position: relative">
        @Html.ActionLink("Back",
            "EditUser",
            new { Email = Model.Email },
            new { @class = "btn btn-default" })
        <input type="submit" value="Add Role" class="btn btn-default" />
        @Html.DropDownList("AddRole", null, new { @class = "form-control"}) 
    </div>
    <br />

    <table class="table">
        <tr>
            <th>
                Existing Roles:
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.colUserRole)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @if (!((Model.Email.ToLower() ==
                            this.User.Identity.Name.ToLower()) &&
                           item.RoleName == "Administrator") &&
                         item.RoleName != "No Roles Found")
                    {
                        @Html.ActionLink("Delete", "DeleteRole",
                            new { Email = item.Email, RoleName = item.RoleName },
                            new
                            {
                                onclick =
                                    "return confirm('Are you sure you wish to delete this role?');"
                            })
                    }
                </td>
            </tr>
        }
    </table>
}
