@model IEnumerable<IQMStarterKit.Models.ExtendedUserCustom>
@using IQMStarterKit.Models
<br />

<style>
    .dataTables_wrapper .dataTables_length {
        float: left;
     
   }

    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: left;
    }
</style>
 


<table id="user" style="width:100%" class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Email</th>
            <th>Group</th>
            <th>PDP Progress</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
           
            if (item.GroupId > 0)
            {
                IEnumerable<GroupModel> grouplist = ViewBag.Groups;
                var groupname = grouplist.FirstOrDefault(m => m.GroupId == item.GroupId);


                <tr>
                    <td style="width:150px;">@Html.ActionLink(item.FullName, "ViewStudentActivities", "Module", new { @email = item.Email }, null)</td>
                    <td style="width:150px;">@item.Email</td>
                    <td style="width:150px;"><text>@groupname.GroupName</text></td>
                    <td nowrap="nowrap" style="width:400px;">
                        <span class="progress-bar active" role="progressbar" aria-valuenow="@item.ProgressValue" aria-valuemin="0" aria-valuemax="100" style="width: @item.ProgressValue%">&nbsp;@item.ProgressValue%</span>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>

@section scripts{
    <script>

        $(document).ready(function () {
            $('#user').DataTable({
                "bLengthChange": false,
                "bFilter": true
            });
        });



    </script>
}