@model IEnumerable<IQMStarterKit.Models.RoleCustom>
@{
    ViewBag.Title = "ManageRole";
}
<br/>
<h2>Manage Role</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<p>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Create Role", "AddRole", null, new { @class = "btn btn-default" })
</p>

@section scripts{
    <script>
     $(document).ready(function () {
         $('#roles').DataTable({
             "bLengthChange": false,
             "bFilter": false
         });
        });
    </script>
}

<table id="roles" width="100%" class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.RoleName)
                </td>
                <td>
                    @if (item.RoleName.ToLower() != "admin")
                {
                        @Html.ActionLink("Delete", "DeleteUserRole", new { RoleName = item.RoleName },
                   new { onclick = "return confirm('Are you sure you want to delete role?');" })
                    }
                </td>
            </tr>
        }
    </tbody>
    </table>



