@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/img/aspire_logo_big.jpg" style="width: 150px; height: 70px;" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    @if (User.IsInRole("Administrator"))
                    {
                        

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Users", "Index", "Admin")</li>
                                <li>@Html.ActionLink("Groups", "Index", "GroupModels")</li>
                                <li>@Html.ActionLink("Workbook", "Index", "TempWorkbooks")</li>
                                <li>@Html.ActionLink("Modules", "Index", "TempModules")</li>
                                <li>@Html.ActionLink("Activities", "Index", "TempActivities")</li>
                            </ul>
                   
                        </li>
                   
                       

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Report<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("VARK", "VARK", "Report")</li>
                                <li>@Html.ActionLink("DOPE", "DOPE", "Report")</li>
                                <li>@Html.ActionLink("DISC", "DISC", "Report")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("% Activities Completed", "StudentActivityPercentage", "Report")</li>

                            </ul>
                        </li>
                    } 
                    
                    @if (User.IsInRole("Tutor"))
                    {

                       

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Course Management<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Student Progress", "ListStudents", "Admin")</li>
                                <li>@Html.ActionLink("Course Demo", "CourseDemo", "Module")</li>
                                <li>@Html.ActionLink("Configure Groups", "Index", "GroupModels")</li>
                               
                            </ul>

                        </li>

                      
                       
                    } 

                </ul>
                @Html.Partial("_LoginPartial")
               
            </div>
        </div>
    </div>
<div class="container body-content">
    <br/>
    @RenderBody()
    <hr/>

    <footer style="text-align: center">
        <div class="footer-bottom">
            <a title="Terms and conditions" href="https://www.aspire2international.ac.nz/terms-conditions/">Terms and conditions</a> /
            <a title="Privacy policy" href="https://www.aspire2international.ac.nz/privacy-policy/">Privacy policy</a>
            <div>Copyright 2017 © Aspire2 International. All Right Reserved.</div>
            
        </div>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Html.Partial("_Alert")
    @RenderSection("scripts", required: false)
</body>
</html>
