@model IQMStarterKit.Models.Forms.Vark

@using (Html.BeginForm("Page23", "Module", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container1">

        <div class="form-group">
           
                <h1>VARK</h1>

               @if (ViewBag.ActDone)
               {
                    <div class="alert alert-success"> Your VARK Result: <strong>@ViewBag.Vark</strong></div>
                        <div class="col-md-offset-0 col-md-12">

                        <div class="panel panel-info">
                            <div class="panel-heading"><strong>Visual</strong></div>
                            <div class="panel-body">This preference includes the depiction of information in maps, spider diagrams, charts, graphs, flow charts, labelled diagrams, and all the symbolic arrows, circles, hierarchies and other devices, that people use to represent what could have been presented in words. This mode could have been called Graphic (G) as that better explains what it covers. It does NOT include still pictures or photographs of reality, movies, videos or PowerPoint. It does include designs, whitespace, patterns, shapes and the different formats that are used to highlight and convey information. When a whiteboard is used to draw a diagram with meaningful symbols for the relationship between different things that will be helpful for those with a Visual preference. It must be more than mere words in boxes that would be helpful to those who have a Read/write preference.</div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading"><strong>Aural / Auditory</strong></div>
                            <div class="panel-body">This perceptual mode describes a preference for information that is “heard or spoken.” Learners who have this as their main preference report that they learn best from lectures, group discussion, radio, email, using mobile phones, speaking, web-chat and talking things through. Email is included here because; although it is text and could be included in the Read/write category (below), it is often written in chat-style with abbreviations, colloquial terms, slang and non-formal language. The Aural preference includes talking out loud as well as talking to oneself. Often people with this preference want to sort things out by speaking first, rather than sorting out their ideas and then speaking. They may say again what has already been said, or ask an obvious and previously answered question. They have need to say it themselves and they learn through saying it – their way.</div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading"><strong>Read/write</strong></div>
                            <div class="panel-body">This preference is for information displayed as words. Not surprisingly, many teachers and students have a strong preference for this mode. Being able to write well and read widely are attributes sought by employers of graduates. This preference emphasizes text-based input and output – reading and writing in all its forms but especially manuals, reports, essays and assignments. People who prefer this modality are often addicted to PowerPoint, the Internet, lists, diaries, dictionaries, thesauri, quotations and words, words, words… Note that most PowerPoint presentations and the Internet, GOOGLE and Wikipedia are essentially suited to those with this preference as there is seldom an auditory channel or a presentation that uses Visual symbols.</div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading"><strong>Kinesthetic</strong></div>
                            <div class="panel-body">By definition, this modality refers to the “perceptual preference related to the use of experience and practice (simulated or real).” Although such an experience may invoke other modalities, the key is that people who prefer this mode are connected to reality, “either through concrete personal experiences, examples, practice or simulation” [See Fleming & Mills, 1992, pp. 140-141]. It includes demonstrations, simulations, videos and movies of “real” things, as well as case studies, practice and applications. The key is the reality or concrete nature of the example. If it can be grasped, held, tasted, or felt it will probably be included. People with this as a strong preference learn from the experience of doing something and they value their own background of experiences and less so, the experiences of others. It is possible to write or speak Kinesthetically if the topic is strongly based in reality. An assignment that requires the details of who will do what and when, is suited to those with this preference, as is a case study or a working example of what is intended or proposed.</div>
                        </div>

                    </div>


               } else {

                <p id="p23instruction">Choose one that is most applicable for you in each situations:</p>
                <table id="p23VARKTable">
                    <tr>
                        <th style="text-align:center;">Situations</th>
                        <th style="text-align:center;"><strong><u>Visual</u></strong></th>
                        <th style="text-align:center;"><strong><u>Auditory</u></strong></th>
                        <th style="text-align:center;"><strong><u>Reading/ Writing</u></strong></th>
                        <th style="text-align:center;"><strong><u>Kinesthetic</u></strong></th>
                    </tr>
                    <tr>
                        <td>1. You are about to give instructions to a person. She is going to a football match and wants to visit your house by car first. Would you</td>
                        <td><input type="radio" name="VARK1" value="V" style="margin-right:5px;">Draw a map on paper</td>
                        <td><input type="radio" name="VARK1" value="A" style="margin-right:5px;">Tell her directions</td>
                        <td><input type="radio" name="VARK1" value="R" style="margin-right:5px;">Write down the directions (without a map)</td>
                        <td><input type="radio" name="VARK1" value="K" style="margin-right:5px;">Collect her in your car</td>
                    </tr>
                    <tr>
                        <td>2. You are staying in a hotel in Auckland to watch the game and have a rental car. You would like to visit a friend whose address you do not know. Would you like them to</td>
                        <td><input type="radio" name="VARK2" value="V" style="margin-right:5px;">Draw a map</td>
                        <td><input type="radio" name="VARK2" value="A" style="margin-right:5px;">Tell you directions</td>
                        <td><input type="radio" name="VARK2" value="R" style="margin-right:5px;">Write down the directions without a map</td>
                        <td><input type="radio" name="VARK2" value="K" style="margin-right:5px;">Collect you from the hotel in their car</td>
                    </tr>
                    <tr>
                        <td>3. You have just received a copy of your itinerary for a trip to South Africa. This is of interest to your friend. Would you</td>
                        <td><input type="radio" name="VARK3" value="V" style="margin-right:5px;">Show her a map of South Africa</td>
                        <td><input type="radio" name="VARK3" value="A" style="margin-right:5px;">Call her immediately and tell her about it</td>
                        <td><input type="radio" name="VARK3" value="R" style="margin-right:5px;">Send her a copy of the printed itinerary</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>4. You are going to cook a dessert as a special treat for your family. Do you:</td>
                        <td><input type="radio" name="VARK4" value="V" style="margin-right:5px;">Thumb through a cookbook looking for ideas from pictures</td>
                        <td><input type="radio" name="VARK4" value="A" style="margin-right:5px;">Ask for advice from others</td>
                        <td><input type="radio" name="VARK4" value="R" style="margin-right:5px;">Refer to a specific cookbook where there is a good recipe</td>
                        <td><input type="radio" name="VARK4" value="K" style="margin-right:5px;">Cook something familiar without a need for instructions</td>
                    </tr>
                    <tr>
                        <td>5. A group of tourists has been assigned to you to find out about Auckland. Would you</td>
                        <td><input type="radio" name="VARK5" value="V" style="margin-right:5px;">Show them photographs and videos</td>
                        <td><input type="radio" name="VARK5" value="A" style="margin-right:5px;">Give them a talk on Auckland</td>
                        <td><input type="radio" name="VARK5" value="R" style="margin-right:5px;">Give them a book on Auckland</td>
                        <td><input type="radio" name="VARK5" value="K" style="margin-right:5px;">Drive them around Auckland</td>
                    </tr>
                    <tr>
                        <td>6. You are about to purchase a new camera. Other than the price, what would most influence your decision?</td>
                        <td><input type="radio" name="VARK6" value="V" style="margin-right:5px;">Its distinctive appearance</td>
                        <td><input type="radio" name="VARK6" value="A" style="margin-right:5px;">A friend talking about it</td>
                        <td><input type="radio" name="VARK6" value="R" style="margin-right:5px;">Reading the details about it</td>
                        <td><input type="radio" name="VARK6" value="K" style="margin-right:5px;">Trying it out</td>
                    </tr>
                    <tr>
                        <td>7. Recall a time in your life when you learned how to do something like playing a new board game. Try to avoid choosing a very physical skill. How did you learn best? By:</td>
                        <td><input type="radio" name="VARK7" value="V" style="margin-right:5px;">Visual clues such as pictures, diagrams, charts.</td>
                        <td><input type="radio" name="VARK7" value="A" style="margin-right:5px;">Listening to somebody explain it</td>
                        <td><input type="radio" name="VARK7" value="R" style="margin-right:5px;">Written instructions</td>
                        <td><input type="radio" name="VARK7" value="K" style="margin-right:5px;">Doing it</td>
                    </tr>
                    <tr>
                        <td>8. You are about to learn how to use a new programme on a computer. Would you:</td>
                        <td><input type="radio" name="VARK8" value="V" style="margin-right:5px;">Find an on-line video that will explain it.</td>
                        <td><input type="radio" name="VARK8" value="A" style="margin-right:5px;">Telephone a friend and ask questions about it</td>
                        <td><input type="radio" name="VARK8" value="R" style="margin-right:5px;">Read the manual that comes with the programme</td>
                        <td><input type="radio" name="VARK8" value="K" style="margin-right:5px;">Ask a friend to show you</td>
                    </tr>
                    <tr>
                        <td>9. You are not sure whether a word should be spelled “dependent” or “dependant”. Do you:</td>
                        <td><input type="radio" name="VARK9" value="V" style="margin-right:5px;">See the word in your mind and choose the best way it looks</td>
                        <td><input type="radio" name="VARK9" value="A" style="margin-right:5px;">Sound it out</td>
                        <td><input type="radio" name="VARK9" value="R" style="margin-right:5px;">Look it up in a dictionary</td>
                        <td><input type="radio" name="VARK9" value="K" style="margin-right:5px;">Write both versions down</td>
                    </tr>
                    <tr>
                        <td>10. Apart from price, what would most influence your decision to buy a technical book?</td>
                        <td><input type="radio" name="VARK10" value="V" style="margin-right:5px;">It looks ok</td>
                        <td><input type="radio" name="VARK10" value="A" style="margin-right:5px;">A friend talking about it</td>
                        <td><input type="radio" name="VARK10" value="R" style="margin-right:5px;">Skimming through parts of it</td>
                        <td><input type="radio" name="VARK10" value="K" style="margin-right:5px;">Using a friend’s copy</td>
                    </tr>
                    <tr>
                        <td>11. Do you prefer a lecturer or teacher who likes to use:</td>
                        <td><input type="radio" name="VARK11" value="V" style="margin-right:5px;">Flow charts, diagrams, PowerPoints</td>
                        <td><input type="radio" name="VARK11" value="A" style="margin-right:5px;">Discussion and guest speakers</td>
                        <td><input type="radio" name="VARK11" value="R" style="margin-right:5px;">Handouts and / or a textbook</td>
                        <td><input type="radio" name="VARK11" value="K" style="margin-right:5px;">Field trips and practical sessions</td>
                    </tr>


                </table>


                <div class="form-group;" style="text-align:center; margin-top:20px;">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
               }
          
        </div>

        <div style="text-align:center; margin-top: 20px;">
            @Html.ActionLink("Previous Page", "Page22") |
            @Html.ActionLink("Main", "Index") |
            @Html.ActionLink("Next Page", "Page24")
        </div>
    </div>
}

@section Scripts{

    <script type="text/javascript">

        function Validate() {
            for (var i = 1; i < 12; i++) {
                var radioValue = $("input[name='VARK" + i + "']:checked").val();
                if (radioValue == null) {
                    toastr.warning('not all rows were selected!');
                    return false;
                }
            }
            return true;
        }

        //confirmation dialog
        $('form').submit(function (e) {
            var currentForm = this;
            e.preventDefault();
            bootbox.confirm("Are you sure you want to submit your work?", function (result) {
                if (result) {
                    if (Validate()) {
                        currentForm.submit();
                    }
                }
                
            });
        });


    </script>
}