@model  IQMStarterKit.Models.Forms.BrainstormingClass
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div  class="main_container">
        <div class="form-inline">
            <h1 class="heading"><strong><u>Brainstorming</u></strong></h1>

            <p>
                Group members:@Html.EditorFor(model => model.GrpMembers, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:850px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:850px;" } })
            </p>
            <p>
                Uses for:@Html.EditorFor(model => model.UsesFor, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:900px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:900px;" } })
</p>

            <table>
                <tr>
                    <td>
                       1.
                        @Html.EditorFor(model => model.Uses1, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })
                    </td>
                    <td>
                        31.
                        @Html.EditorFor(model => model.Uses31, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })
                    </td>
                </tr>
                <tr>
                    <td>2.@Html.EditorFor(model => model.Uses2, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>32.@Html.EditorFor(model => model.Uses32, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>3.@Html.EditorFor(model => model.Uses3, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>33.@Html.EditorFor(model => model.Uses33, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>4.@Html.EditorFor(model => model.Uses4, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>34.@Html.EditorFor(model => model.Uses34, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>5.@Html.EditorFor(model => model.Uses5, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>35.@Html.EditorFor(model => model.Uses35, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>6.@Html.EditorFor(model => model.Uses6, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>36.@Html.EditorFor(model => model.Uses36, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>7.@Html.EditorFor(model => model.Uses7, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>37.@Html.EditorFor(model => model.Uses37, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>8.@Html.EditorFor(model => model.Uses8, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>38.@Html.EditorFor(model => model.Uses38, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>9.@Html.EditorFor(model => model.Uses9, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>39.@Html.EditorFor(model => model.Uses39, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>10.@Html.EditorFor(model => model.Uses10, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>40.@Html.EditorFor(model => model.Uses40, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>11.@Html.EditorFor(model => model.Uses11, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>41.@Html.EditorFor(model => model.Uses41, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>12.@Html.EditorFor(model => model.Uses12, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>42.@Html.EditorFor(model => model.Uses42, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>13.@Html.EditorFor(model => model.Uses13, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>43.@Html.EditorFor(model => model.Uses43, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>14.@Html.EditorFor(model => model.Uses14, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>44.@Html.EditorFor(model => model.Uses44, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>15.@Html.EditorFor(model => model.Uses15, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>45.@Html.EditorFor(model => model.Uses45, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                <tr>
                    <td>16.@Html.EditorFor(model => model.Uses16, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>46.@Html.EditorFor(model => model.Uses46, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                <tr>
                    <td>17.@Html.EditorFor(model => model.Uses17, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>47.@Html.EditorFor(model => model.Uses47, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                <tr>
                    <td>18.@Html.EditorFor(model => model.Uses18, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>48.@Html.EditorFor(model => model.Uses48, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>19.@Html.EditorFor(model => model.Uses19, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>49.@Html.EditorFor(model => model.Uses49, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>20.@Html.EditorFor(model => model.Uses20, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>50.@Html.EditorFor(model => model.Uses50, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                <tr>
                    <td>21.@Html.EditorFor(model => model.Uses21, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>51.@Html.EditorFor(model => model.Uses51, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>22.@Html.EditorFor(model => model.Uses22, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>52.@Html.EditorFor(model => model.Uses52, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>23.@Html.EditorFor(model => model.Uses23, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>53.@Html.EditorFor(model => model.Uses53, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>24.@Html.EditorFor(model => model.Uses24, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>54.@Html.EditorFor(model => model.Uses54, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>25.@Html.EditorFor(model => model.Uses25, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>55.@Html.EditorFor(model => model.Uses55, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>26.@Html.EditorFor(model => model.Uses26, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>56.@Html.EditorFor(model => model.Uses56, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>27.@Html.EditorFor(model => model.Uses27, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>57.@Html.EditorFor(model => model.Uses57, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>28.@Html.EditorFor(model => model.Uses28, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>58.@Html.EditorFor(model => model.Uses58, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>29.@Html.EditorFor(model => model.Uses29, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>59.@Html.EditorFor(model => model.Uses59, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
                <tr>
                    <td>30.@Html.EditorFor(model => model.Uses30, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                    <td>60.@Html.EditorFor(model => model.Uses60, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p44txtbox form-control", style = "width:450px;" } } : new { htmlAttributes = new { @class = "p44txtbox form-control", style = "width:450px;" } })</td>
                </tr>
            </table>

            @if (Model.StudentActivity.ProgressValue != 100)
            {
                <div style="text-align: center; margin-top:20px;" class="form-group`">
                    <button type="submit" class="form-control btn btn-primary" style="width: 100px;">Save</button>
                </div>
            }

        </div>
    </div>
    <div style="text-align:center; margin-top: 20px;">
        @Html.ActionLink("Previous Page", "PageA28") |
        @Html.ActionLink("Main", "Index") |
        @Html.ActionLink("Next Page", "PageA30")
    </div>
}

@section Scripts {

    <script type="text/javascript">

    //confirmation dialog
     $('form').submit(function (e) {
         var currentForm = this;
         e.preventDefault();
         bootbox.confirm("Are you sure you want to submit your work?", function (result) {
             if (result) {
                 currentForm.submit();
                 return true;
             }
         });
     });

    </script>
}