@model IQMStarterKit.Models.Forms.PersonalSWOTClass

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div  class="main_container">

        <!-- Trigger the modal with a button -->
        <button type="button" id="info_popupSWOT" class="button btn-info" data-toggle="modal" data-target="#myModal"><span class='glyphicon glyphicon-info-sign' style="font-size:1.5em;"></span></button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Doing Your Personal SWOT</h3>
                    </div>
                    <div class="modal-body">
                        <ol>
                            <li>In each quadrant, write out ideas in <u>point form</u>. Be as <u>specific</u> as possible.</li>
                            <li>
                                Stretch to come up with true insights:
                                <ul class="p47List">
                                    <li><u>Take a break</u> if you have to, and revisit your analysis when you're fresh.</li>
                                    <li>You can even show your SWOT to <u>close friends</u> to get their views.</li>
                                </ul>
                            </li>
                            <li><u>Edit</u>. Delete repetitive ideas, and sharpen less specific ones.</li>
                            <li>
                                Analyse what it all means. Use the tool to:
                                <ul class="p47List">
                                    <li>Validate your current position.</li>
                                    <li>Understand the skills, attributes and experiences you should <u>emphasise</u> and the ones you should downplay.</li>
                                    <li>Brainstorm possible <u>career directions</u>.</li>
                                    <li><u>Highlight</u> opportunities to take advantage of.</li>
                                    <li><u>Flag</u> possible threats.</li>
                                </ul>
                            </li>
                            <li>
                                Determine possible actions. There are four types of actions you could take:
                                <ul class="p47List">
                                    <li><u> Strengthening</u> a specific skill or adding something to your strengths quadrant.</li>
                                    <li>Minimising or <u>eliminating</u> a weakness.</li>
                                    <li>Pursuing or <u>exploiting</u> an opportunity.</li>
                                    <li><u>Protecting</u> yourself from threats.</li>
                                </ul>
                            </li>
                            <li><u>Revisit</u> and update your SWOT chart periodically to add a level of sophistication and effectiveness to your career planning.</li>
                        </ol>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div>
            <h1 class="heading"><strong><u>Personal SWOT</u></strong></h1>

            <table style="margin:auto;">
                <tr>
                    <td>
                        <p style="text-align:center;"><strong><u>Strenghts</u></strong></p>
                        What do you do well?
                        <br /> What unique resources can you draw on?
                        <br /> What do others see as your strengths?
                        <br />
                        @Html.TextAreaFor(model => model.Strengths, (Model.StudentActivity.ProgressValue == 100) ? (object)new { @readonly = "readonly", @class = "p47txtarea form-control", style = "width: 435px;height:300px;" } : new { @class = "p47txtarea form-control", style = "width: 435px;height:300px;" })
                    </td>
                    <td>
                        <p style="text-align:center;"><strong><u>Weaknesses</u></strong></p>
                        What could you improve?
                        <br />Where do you have fewer resources than others?
                        <br />What are others likely to see as weaknesses?
                        <br />
                        @Html.TextAreaFor(model => model.Weaknesses, (Model.StudentActivity.ProgressValue == 100) ? (object)new { @readonly = "readonly", @class = "p47txtarea form-control", style = "width: 435px;height:300px;" } : new { @class = "p47txtarea form-control", style = "width: 435px;height:300px;" })
</td>
                </tr>

                <tr>
                    <td>
                        <p style="text-align:center;"><strong><u>Opportunities</u></strong></p>
                        What opportunities are open to you?
                        <br />What trends could you take advantage of?
                        <br />How can you turn your strengths into opportunities?
                        <br />
                        @Html.TextAreaFor(model => model.Opportunities, (Model.StudentActivity.ProgressValue == 100) ? (object)new { @readonly = "readonly", @class = "p47txtarea form-control", style = "width: 435px;height:300px;" } : new { @class = "p47txtarea form-control", style = "width: 435px;height:300px;" })
                    </td>
                    <td>
                        <p style="text-align:center;"><strong><u>Threats</u></strong></p>
                        What threats could harm you?
                        <br />What is your competition doing?
                        <br />What threats do your weaknesses expose you to?
                        <br />
                        @Html.TextAreaFor(model => model.Threats, (Model.StudentActivity.ProgressValue == 100) ? (object)new { @readonly = "readonly", @class = "p47txtarea form-control", style = "width: 435px;height:300px;" } : new { @class = "p47txtarea form-control", style = "width: 435px;height:300px;" })
                    </td>
                </tr>
            </table>
            <p style="text-align:center;"><strong>© Copyright Mind Tools Ltd, 2006-2015.</strong></p>


            @if (Model.StudentActivity.ProgressValue != 100)
            {
                <div style="text-align: center; margin-top:20px;" class="form-group`">
                    <button type="submit" class="form-control btn btn-primary" style="width: 100px;">Save</button>
                </div>
            }

        </div>

        <hr />

        <div>
            <h1 class="heading"><u>Personal SWOT Explanation</u></h1>

            <p><strong><u>Strengths</u></strong></p>
            <ul>
                <li>
                    These are the internal positives you can control and on which you can capitalise, such as your experience, education, communication skills, human relations skills, etc.
                    <ul class="p47List">
                        <li> What advantages do you have that others don't have?</li>
                        <li> What do you do better than anyone else?</li>
                        <li> What do other people (and your boss, in particular) see as your strengths?</li>
                        <li> Which of your achievements are you most proud of?</li>
                        <li> What values do you believe in that others fail to exhibit?</li>
                        <li> Are you part of a network that no one else is involved in? If so, what connections do you have with influential people?</li>
                    </ul>
                </li>
                <li>Consider this from your own perspective, and from the point of view of the people around you. And don't be modest or shy – be as objective as you can.</li>
            </ul>


            <p><strong><u>Weaknesses</u></strong></p>
            <ul>
                <li>
                    These are the internal negatives you can control and which you can work to improve, such as your lack of experience in specific subjects, weak public speaking skills, and negative personal characteristics.
                    <ul class="p47List">
                        <li> What tasks do you usually avoid because you don't feel confident doing them?</li>
                        <li> What will the people around you see as your weaknesses?</li>
                        <li> Are you completely confident in your education and skills training? If not, where are you weakest?</li>
                        <li> What are your negative work habits (for example, are you often late, are you disorganized, do you have a short temper, or are you poor at handling stress?</li>
                        <li> Do you have personality traits that hold you back in your field? For instance, if you have to conduct meetings on a regular basis, a fear of public speaking would be a major weakness.</li>
                    </ul>
                </li>
                <li>Again, consider this from a personal/internal perspective and an external perspective. Do other people see weaknesses that you don't see? Do co-workers consistently outperform you in key areas? Be realistic – it's best to face any unpleasant truths as soon as possible.</li>
            </ul>


            <p><strong><u>Opportunities</u></strong></p>
            <ul>
                <li>
                    These are the positive external conditions that you can take advantage of, such as the growth of chiropractic as a profession or the lack of chiropractors in a specific area where you want to practice.
                    <ul class="p47List">
                        <li> What new technology can help you? Or can you get help from others or from people via the Internet?</li>
                        <li> Do you have a network of strategic contacts to help you, or offer good advice?</li>
                        <li> What trends (management or otherwise) do you see in your company, and how can you take advantage of them?</li>
                        <li> Are any of your competitors failing to do something important? If so, can you take advantage of their mistakes?</li>
                    </ul>
                </li>
                <li>Also, importantly, look at your strengths, and ask yourself whether these open up any opportunities – and look at your weaknesses, and ask yourself whether you could open up opportunities by eliminating those weaknesses.</li>
            </ul>


            <p><strong><u>Threats</u></strong></p>
            <ul>
                <li>
                    These are the negative external conditions that you can’t control but whose effect you can lessen, such as negative news articles about chiropractic or lack of knowledge of chiropractic in your area.
                    <ul class="p47List">
                        <li>  What obstacles do you currently face at work?</li>
                        <li> Are any of your colleagues competing with you for projects or roles?</li>
                        <li> Is your job (or the demand for the things you do) changing?</li>
                        <li> Does changing technology threaten your position?</li>
                        <li> Could any of your weaknesses lead to threats?</li>

                    </ul>
                </li>
                <li> Performing this analysis will often provide key information – it can point out what needs to be done and put problems into perspective.</li>
            </ul>

            <p><b>Taken from:<a href="http://career-advice.monster.com/job-search/career-assessment/analyze-your-career-with-a-swot/article.aspx"> http://career-advice.monster.com/job-search/career-assessment/analyze-your-career-with-a-swot/article.aspx</a></b></p>
        </div>
    </div>


    <div style="text-align:center; margin-top: 20px;">
        @Html.ActionLink("Previous Page", "PageA32") |
        @Html.ActionLink("Main", "Index") |
        @Html.ActionLink("Next Page", "PageA34")
    </div>
}

@section Scripts {

    <script type="text/javascript">

    //confirmation dialog
     $('form').submit(function (e) {
         var currentForm = this;
         e.preventDefault();
         bootbox.confirm("Are you sure you want to submit your work?", function (result) {
             if (result) {
                 currentForm.submit();
                 return true;
             }
         });
     });

    </script>


}