@model IQMStarterKit.Models.FilePath

@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Problem Solving - Dots";
}


@using (Html.BeginForm("Page42UploadFile", "Module", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        @Html.AntiForgeryToken();
        <div class="container1">
            <h1 class="heading"><strong><u>Problem Solving</u></strong></h1>
            <div style="text-align:center;">
                <img src="~/Content/img/dots.jpg" alt="Activity Dots" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-12 form-inline" style="text-align:center; margin-top:20px;">
                    @if (Model != null && Model.FileName != null && Model.CreatedBy == User.Identity.GetUserId())
                    {
                        @Html.ActionLink("Download File", "Page42DownloadFile", "Module",
                            new { id = Model.StudentActivityId },
                            new { @class = "btn btn-info", role = "button", data_icon = "gear", target = "_new" })


                    }
                    else
                    {
                        @Html.Label("Problem Solving - Dots", new { @class = "label label-default" })
                        <input type="file" id="Dots" name="file" class="form-control" style="width:300px;" />
                            <input type="submit" value="Upload" class="btn btn-primary" />
                    }
                </div>
            </div>
        </div>
      

        <div style="text-align:center; margin-top: 50px;">
            @Html.ActionLink("Previous Page", "Page53") |
            @Html.ActionLink("Main", "Index") |
            @Html.ActionLink("Next Page", "Page43")
        </div>

}


@section Scripts{

    <script type="text/javascript">

        function CheckValue() {

            if ($('#Dots').val() == "") {
                // all empty
                toastr.warning('Please select a file to upload.')
                return false;
            }
            return true;

        }

        //confirmation dialog


        $('form').submit(function (e) {
            var currentForm = this;
            e.preventDefault();
            bootbox.confirm("Are you sure you want to submit your work?", function (result) {
                if (result) {
                    if (CheckValue()) {
                        currentForm.submit();
                    }
                }
            });
        });

    </script>
}
