@model  IQMStarterKit.Models.Forms.AboutMeClass

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container1">
       
        <div class="p15AboutMeContainer">
            <img id="p15aboutMeImg" src="~/Content/img/AboutMe.png" alt="About Me Graphic">

            @Html.EditorFor(model => model.Name, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtbox form-control", id = "p15Name" } } : new { htmlAttributes = new { @class = "p15txtbox form-control", id = "p15Name" } })
            @Html.EditorFor(model => model.Place, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtbox form-control", id = "p15Place" } } : new { htmlAttributes = new { @class = "p15txtbox form-control", id = "p15Place" } })
            @Html.EditorFor(model => model.Hobby, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtarea form-control", id = "p15Hobby" } } : new { htmlAttributes = new { @class = "p15txtbox form-control", id = "p15Hobby" } })
            @Html.EditorFor(model => model.Movie, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtbox form-control", id = "p15Movie" } } : new { htmlAttributes = new { @class = "p15txtbox form-control", id = "p15Movie" } })
            @Html.EditorFor(model => model.Important, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtbox form-control", id = "p15Important" } } : new { htmlAttributes = new { @class = "p15txtbox form-control", id = "p15Important" } })
            @Html.EditorFor(model => model.Model, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtbox form-control", id = "p15Model" } } : new { htmlAttributes = new { @class = "p15txtbox form-control", id = "p15Model" } })
            @Html.EditorFor(model => model.Happy, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtbox form-control", id = "p15Happy" } } : new { htmlAttributes = new { @class = "p15txtbox form-control", id = "p15Happy" } })
            @Html.EditorFor(model => model.Dislike, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtbox form-control", id = "p15Dislike" } } : new { htmlAttributes = new { @class = "p15txtbox form-control", id = "p15Dislike" } })
            @Html.EditorFor(model => model.Famous, (Model.StudentActivity.ProgressValue == 100) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p15txtbox form-control", id = "p15Famous" } } : new { htmlAttributes = new { @class = "p15txtbox form-control", id = "p15Famous" } })



            @if (Model.StudentActivity.ProgressValue != 100)
            {
                <div style="text-align: center;" class="form-group`">
                    <button type="submit" class="form-control btn btn-primary" style="width: 100px;">Save</button>
                </div>
            }

        </div>
    </div>

}


<div style="text-align:center; margin-top: 20px;">
    @Html.ActionLink("Previous Page", "Page14") |
    @Html.ActionLink("Main", "Index") |
    @Html.ActionLink("Next Page", "Page16")
</div>

@section Scripts {

 <script type="text/javascript">

    //confirmation dialog
     $('form').submit(function (e) {
         var currentForm = this;
         e.preventDefault();
         bootbox.confirm("Are you sure you want to submit your work?", function (result) {
             if (result)
                 currentForm.submit();
                 return true;
         });
     });

</script>


}


