@model IQMStarterKit.Models.Forms.KiwianaClass

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container1">
      

            <div style="text-align: center">
   

            <h1 id="heading"><u>What do you know about these items of Kiwiana?</u></h1>

            <div class="row">
                <div class="col-md-3" style="margin-bottom: 5px">
                    @Html.LabelFor(m => m.Paua)
                    @if (Model.StudentActivity.ProgressValue == 100)
                    {

                        @Html.TextAreaFor(model => model.Paua, new { @readonly = "readonly", @class = "p28textarea form-control", @name = "Paua", rows = "5", @maxlength = "70" })

                    }
                    else
                    {

                        @Html.TextAreaFor(model => model.Paua, new { @class = "p28textarea form-control", @name = "Paua", @rows = "5", @maxlength = "70" })
                    }

                </div>
                <div class="col-md-3" style="margin-bottom: 5px">
                    @Html.LabelFor(m => m.Pavlova)
                    @if (Model.StudentActivity.ProgressValue == 100)
                    {

                        @Html.TextAreaFor(model => model.Pavlova, new { @readonly = "readonly", @class = "p28textarea form-control", @name = "Pavlova", rows = "5", @maxlength = "70" })

                    }
                    else
                    {
                        @Html.TextAreaFor(model => model.Pavlova, new { @class = "p28textarea form-control", @name = "Pavlova", @rows = "5", @maxlength = "70" })
                    }

                </div>
                <div class="col-md-3" style="margin-bottom: 5px">
                    @Html.LabelFor(m => m.HokeyPokey)
                    @if (Model.StudentActivity.ProgressValue == 100)
                    {

                        @Html.TextAreaFor(model => model.HokeyPokey, new { @readonly = "readonly", @class = "p28textarea form-control", @name = "HokeyPokey", rows = "5", @maxlength = "70" })

                    }
                    else
                    {
                        @Html.TextAreaFor(model => model.HokeyPokey, new { @class = "p28textarea form-control", @name = "HokeyPokey", @rows = "5", @maxlength = "70" })
                    }

                </div>
                <div class="col-md-3" style="margin-bottom: 5px">
                    @Html.LabelFor(m => m.FishNChips)
                    @if (Model.StudentActivity.ProgressValue == 100)
                    {

                        @Html.TextAreaFor(model => model.FishNChips, new { @readonly = "readonly", @class = "p28textarea form-control", @name = "FishNChips", rows = "5", @maxlength = "70" })

                    }
                    else
                    {
                        @Html.TextAreaFor(model => model.FishNChips, new { @class = "p28textarea form-control", @name = "FishNChips", @rows = "5", @maxlength = "70" })
                    }

                </div>
            </div>

            <div class="row">
                    <div class="form-group">
                        <div class="col-md-3" style="margin-bottom: 5px">
                            @Html.LabelFor(m => m.Jandals)
                            @if (Model.StudentActivity.ProgressValue == 100)
                            {

                                @Html.TextAreaFor(model => model.Jandals, new { @readonly = "readonly", @class = "p28textarea form-control", @name = "Jandals", rows = "5", @maxlength = "70" })

                            }
                            else
                            {
                                @Html.TextAreaFor(model => model.Jandals, new { @class = "p28textarea form-control", @name = "Jandals", @rows = "5", @maxlength = "70" })
                            }

                        </div>
                        <div class="col-md-3" style="margin-bottom: 5px">
                            @Html.LabelFor(m => m.Swandri)
                            @if (Model.StudentActivity.ProgressValue == 100)
                            {

                                @Html.TextAreaFor(model => model.Swandri, new { @readonly = "readonly", @class = "p28textarea form-control", @name = "Swandri", rows = "5", @maxlength = "70" })

                            }
                            else
                            {
                                @Html.TextAreaFor(model => model.Swandri, new { @class = "p28textarea form-control", @name = "Swandri", @rows = "5", @maxlength = "70" })
                            }

                        </div>
                        <div class="col-md-3" style="margin-bottom: 5px">
                            @Html.LabelFor(m => m.BuzzyBee)
                            @if (Model.StudentActivity.ProgressValue == 100)
                            {

                                @Html.TextAreaFor(model => model.BuzzyBee, new { @readonly = "readonly", @class = "p28textarea form-control", @name = "BuzzyBee", rows = "5", @maxlength = "70" })

                            }
                            else
                            {
                                @Html.TextAreaFor(model => model.BuzzyBee, new { @class = "p28textarea form-control", @name = "BuzzyBee", @rows = "5", @maxlength = "70" })
                            }

                        </div>
                        <div class="col-md-3" style="margin-bottom: 5px">
                            @Html.LabelFor(m => m.BlackSinglet)
                            @if (Model.StudentActivity.ProgressValue == 100)
                            {

                                @Html.TextAreaFor(model => model.BlackSinglet, new { @readonly = "readonly", @class = "p28textarea form-control", @name = "BlackSinglet", rows = "5", @maxlength = "70" })

                            }
                            else
                            {
                                @Html.TextAreaFor(model => model.BlackSinglet, new { @class = "p28textarea form-control", @name = "BlackSinglet", @rows = "5", @maxlength = "70" })
                            }

                        </div>
                    </div>
                </div>

            <div class="row">
                    <div class="form-group">
                        <div class="col-md-3" style="margin-bottom: 5px">
                            @Html.LabelFor(m => m.Rugby)
                            @if (Model.StudentActivity.ProgressValue == 100)
                            {

                                @Html.TextAreaFor(model => model.Rugby, new { @readonly = "readonly", @class = "p28textarea form-control", @name = "Rugby", rows = "5", @maxlength = "70" })

                            }
                            else
                            {
                                @Html.TextAreaFor(model => model.Rugby, new { @class = "p28textarea form-control", @name = "Rugby", @rows = "5", @maxlength = "70" })
                            }

                        </div>
                        <div class="col-md-3" style="margin-bottom: 5px">
                            @Html.LabelFor(m => m.KiwiFruit)
                            @if (Model.StudentActivity.ProgressValue == 100)
                            {

                                @Html.TextAreaFor(model => model.KiwiFruit, new { @readonly = "readonly", @class = "p28textarea form-control", @name = "KiwiFruit", rows = "5", @maxlength = "70" })

                            }
                            else
                            {
                                @Html.TextAreaFor(model => model.KiwiFruit, new { @class = "p28textarea form-control", @name = "KiwiFruit", @rows = "5", @maxlength = "70" })
                            }

                        </div>
                        <div class="col-md-3" style="margin-bottom: 5px">
                            @Html.LabelFor(m => m.PineappleLumps)
                            @if (Model.StudentActivity.ProgressValue == 100)
                            {

                                @Html.TextAreaFor(model => model.PineappleLumps, new { @readonly = "readonly", @class = "p28textarea form-control", @name = "PineappleLumps", rows = "5", @maxlength = "70" })

                            }
                            else
                            {
                                @Html.TextAreaFor(model => model.PineappleLumps, new { @class = "p28textarea form-control", @name = "PineappleLumps", @rows = "5", @maxlength = "70" })
                            }

                        </div>
                        <div class="col-md-3" style="margin-bottom: 5px">
                            @Html.LabelFor(m => m.LnP)
                            @if (Model.StudentActivity.ProgressValue == 100)
                            {

                                @Html.TextAreaFor(model => model.LnP, new { @readonly = "readonly", @class = "p28textarea form-control", @name = "LnP", rows = "5", @maxlength = "70" })

                            }
                            else
                            {
                                @Html.TextAreaFor(model => model.LnP, new { @class = "p28textarea form-control", @name = "LnP", @rows = "5", @maxlength = "70" })
                            }

                        </div>
                    </div>
                </div>

            @if (Model.StudentActivity.ProgressValue != 100)
            {
                <div class="form-group;" style="text-align:center; margin-top:20px;">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            }
        </div>



        <div style="text-align:center; margin-top: 20px;">
            @Html.ActionLink("Previous Page", "Page27") |
            @Html.ActionLink("Main", "Index") |
            @Html.ActionLink("Next Page", "Page29")
        </div>
   </div>
    
}

@section Scripts{

    <script type="text/javascript">

        function CheckValue() {

            if (!$('textarea').filter(function () { return this.value.length; }).length) {
                // all empty
                toastr.warning('Nothing to save!.')
                return false;
            }

        }

        //confirmation dialog


        $('form').submit(function (e) {
            var currentForm = this;
            e.preventDefault();
            bootbox.confirm("Are you sure you want to submit your work?", function (result) {
                if (result) {
                    CheckValue();
                }
            });
        });


        


    </script>
}