@model IQMStarterKit.Models.PresentationEvaluationModel

@{
    ViewBag.Title = "Page39";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(itemModel => Model.StudentId)
    @Html.HiddenFor(itemModel => Model.StudentName)
    @Html.HiddenFor(itemModel => Model.StudentEmail)
    @Html.HiddenFor(itemModel => Model.TutorId)
    @Html.HiddenFor(itemModel => Model.TutorName)

    <div class="container1">

        <div class="form-inline">
        <h1 class="heading"><strong><u>Presentation Evaluation Sheet</u></strong></h1>
        <p>
            <h3>Student Name: @Html.DisplayFor(m => m.StudentName)</h3>
       </p>
        <p>
            <label for="topic">Topic:</label>&nbsp;
            @Html.EditorFor(model => model.Topic, (Model.Topic != null) ? (object)new { htmlAttributes = new { @readonly = "readonly", @class = "p39txtbox form-control" } } : new { htmlAttributes = new { @class = "p39txtbox form-control" } })
           
        </p>
        <table>
            <tr>
                <td> </td>
                <td>Item</td>
                <td>Observation/Comments</td>
            </tr>
            <tr>
                <td style="padding:15px;">1</td>
                <td><strong>Personal Presentation and Grooming</strong></td>
                <td>
                    @Html.TextAreaFor(model => model.Grooming, (Model.Grooming != null) ? (object)new { @readonly = "readonly", @class = "p39txtarea form-control", style = "width: 500px; height:100px;" } : new { @class = "p39txtarea form-control", style = "width: 600px; height:60px;" })
                </td>
            </tr>
            <tr>
                <td style="padding:15px;">2</td>
                <td>
                    <strong>Content</strong><br />
                    Introduction<br />
                    <ul><li>Impact</li></ul>
                    Body<br />
                    <ul>
                        <li>Organisation/Logical Sequence</li>
                        <li>ImpactRelevance</li>
                    </ul>
                    Conclusion<br />
                    <ul><li>Sudden/Abrupt</li></ul>
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Content, (Model.Content != null) ? (object)new { @readonly = "readonly", @class = "p39txtarea form-control", style = "width: 500px; height:150px;" } : new { @class = "p39txtarea form-control", style = "width: 600px; height:150px;" })
                </td>
            </tr>
            <tr>
                <td style="padding:15px;">3</td>
                <td>
                    <strong>Delivery</strong><br />
                    <ul>
                        <li>Voice</li>
                        <li>Eye Contact</li>
                        <li>Facial Expression</li>
                        <li>Gestures and Movements</li>
                        <li>Posture</li>
                        <li>Audience Involvement/Interaction</li>
                    </ul>
                </td>
                <td>@Html.TextAreaFor(model => model.Delivery, (Model.Delivery != null) ? (object)new { @readonly = "readonly", @class = "p39txtarea form-control", style = "width: 500px; height:150px;" } : new { @class = "p39txtarea form-control", style = "width: 600px; height:150px;" })
                </td>
            </tr>
            <tr>
                <td style="padding:15px;">4</td>
                <td>
                    <strong>Visual Aids</strong><br />
                    Power-point or other visual aid used
                </td>
                <td>@Html.TextAreaFor(model => model.Visual, (Model.Visual != null) ? (object)new { @readonly = "readonly", @class = "p39txtarea form-control", style = "width: 500px; height:150px;" } : new { @class = "p39txtarea form-control", style = "width: 600px; height:150px;" })
                </td>
            </tr>
            <tr>
                <td style="padding:15px;">5</td>
                <td><strong>Knowledge of subject</strong></td>
                <td>@Html.TextAreaFor(model => model.Knowledge, (Model.Knowledge != null) ? (object)new { @readonly = "readonly", @class = "p39txtarea form-control", style = "width: 500px; height:150px;" } : new { @class = "p39txtarea form-control", style = "width: 600px; height:150px;" })</td>
            </tr>
            <tr>
                <td style="padding:15px;">6</td>
                <td><strong>Timing - Over or Under Time?</strong></td>
                <td>@Html.TextAreaFor(model => model.Timing, (Model.Timing != null) ? (object)new { @readonly = "readonly", @class = "p39txtarea form-control", style = "width: 500px; height:150px;" } : new { @class = "p39txtarea form-control", style = "width: 600px; height:150px;" })</td>
            </tr>
        </table>
        <br />
        <p>
            Overall Comments:<br />
            @Html.TextAreaFor(model => model.Comment, (Model.Comment != null) ? (object)new { @readonly = "readonly", @class = "p39txtarea form-control", style = "width: 500px; height:150px;" } : new { @class = "p39txtarea form-control", style = "width: 600px; height:150px;" })
        </p>
        <h4>Completed by: @Html.DisplayFor(m=>m.TutorName)</h4>
        </div>

        @if (Model.PresentationId == 0)
        {
            <div style="text-align:center;">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        }
    </div>


    <div style="text-align:center; margin-top: 20px;">
       
        @Html.ActionLink("Main", "Index")
      
    </div>

}
