
@using (Html.BeginForm("Page26", "Module", FormMethod.Post))

{
    @Html.AntiForgeryToken()

    <div class="container1">
        <h1 class="heading"><u>D.O.P.E Personal Profiling</u></h1>

        @if (ViewBag.ActDone)
        {

            var explanation = string.Empty;

            if (ViewBag.Dope == "Dove")
            {
                explanation = "The peaceful dove. The dove is people-orientated, loyal, friendly, hard-working and a great team player but tends to avoid change, confrontation, risk-taking and assertiveness.";
            }
            else if (ViewBag.Dope == "Owl")
            {
                explanation = "The wise owl. The owl is logical, mathematically minded, methodical and sometimes seen as a perfectionist. The owl can be slow to make decisions and inflexible if rules and logic says otherwise. Owls are not big risk takers but love detail.";
            }
            else if (ViewBag.Dope == "Peacock")
            {
                explanation = "The showy peacock. The peacock loves talking, being the center of attention, has passion/ enthusiasm and is happy/ optimistic. Peacocks can be accused of talking too much, and aren’t good with detail or time-control.";
            }
            else if (ViewBag.Dope == "Eagle")
            {
                explanation = "The bold eagle. Eagles are dominant, stimulated by challenge, decisive and direct. Eagles can be blunt/ stubborn, can lose sight of the big-picture and can be insensitive to other people’s needs. Eagles are natural achievers.";
            }
            <br/><br/>
            <div class="col-md-offset-0 col-md-12">

                <div class="panel panel-info">
                    <div class="panel-heading">Your DOPE Result: <strong>@ViewBag.Dope</strong></div>
                    <div class="panel-body">@explanation</div>
                </div>

            </div>
            

        }
        else
        {

        <p id="p26-27">
            Read the following statements carefully.  If the statements sounds like you, put a tick in the white box.  If the statement does not sound like you, then leave it blank and move to the next statement.  REMEMBER TO BE HONEST WITH YOURSELF.
        </p>

        <table id="p26DOPETable">
            <tr>
                <td style="text-align:center;">1.</td>
                <td>When dealing with people and problems, I am seen as firm and determined</td>
                <td><input type="checkbox" id="q1" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">2.</td>
                <td>I am always thinking of new ideas and concepts</td>
                <td><input type="checkbox" id="q2" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">3.</td>
                <td>I feel more comfortable dealing with facts and figures than dealing with people.</td>
                <td><input type="checkbox" id="q3" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">4.</td>
                <td>I like traditional practices and accepted ideas best</td>
                <td><input type="checkbox" id="q4" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">5.</td>
                <td>I am a gentle person who enjoys peace and harmony</td>
                <td><input type="checkbox" id="q5" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">6.</td>
                <td>I often upset people with my directness</td>
                <td><input type="checkbox" id="q6" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">7.</td>
                <td>I'm inclined to argue with the TV or radio when I don't agree with them.</td>
                <td><input type="checkbox" id="q7" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">8.</td>
                <td>I like to take my time filling out forms and questionnaires</td>
                <td><input type="checkbox" id="q8" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">9.</td>
                <td>Working on my own is better for me than working with other people</td>
                <td><input type="checkbox" id="q9" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">10.</td>
                <td>I often find myself telling jokes at parties and with friends</td>
                <td><input type="checkbox" id="q10" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">11.</td>
                <td>Before making a decision I like lots of information</td>
                <td><input type="checkbox" id="q11" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">12.</td>
                <td>I am naturally noisier than other around me</td>
                <td><input type="checkbox" id="q12" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">13.</td>
                <td>Getting the task done is more important than people feelings</td>
                <td><input type="checkbox" id="q13" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">14.</td>
                <td>I describe myself as enthusiastic, spontaneous and persuasive</td>
                <td><input type="checkbox" id="q1" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">15.</td>
                <td>How people feel is very important to me</td>
                <td><input type="checkbox" id="q15" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">16.</td>
                <td>I thoroughly check all small details before coming to a conclusion</td>
                <td><input type="checkbox" id="q16" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">17.</td>
                <td>I can be seen as bossy and rather aggressive at times</td>
                <td><input type="checkbox" id="q17" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">18.</td>
                <td>People say I could sell sand to the Arabs</td>
                <td><input type="checkbox" id="q18" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">19.</td>
                <td>I find small talk difficult and often find myself talking about work</td>
                <td><input type="checkbox" id="q19" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">20.</td>
                <td>I am inclined to criticise people who do not think logically</td>
                <td><input type="checkbox" id="q20" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">21.</td>
                <td>I find being rushed to meet tight deadlines worries me</td>
                <td><input type="checkbox" id="q21" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">22.</td>
                <td>I prefer to be alone than having to mix with others</td>
                <td><input type="checkbox" id="q22" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">23.</td>
                <td>I am seen as a calm, even tempered person, who cares about people and how they feel</td>
                <td><input type="checkbox" id="q23" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">24.</td>
                <td>I like working in a job that I understand, that is systematic and not rushed</td>
                <td><input type="checkbox" id="q24" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">25.</td>
                <td>I am good at talking people into seeing things my way</td>
                <td><input type="checkbox" id="q25" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">26.</td>
                <td>People often call me a perfectionist</td>
                <td><input type="checkbox" id="q26" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">27.</td>
                <td>Having authority and control is very important to me</td>
                <td><input type="checkbox" id="q27" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">28.</td>
                <td>Emotions and feelings are not as important as reason and logic</td>
                <td><input type="checkbox" id="q28" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">29.</td>
                <td>I push my ideas strongly, even if others don’t agree</td>
                <td><input type="checkbox" id="q29" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">30.</td>
                <td>I am steady, thorough and analytical</td>
                <td><input type="checkbox" id="q30" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">31.</td>
                <td>I enjoy being the centre of attention</td>
                <td><input type="checkbox" id="q31" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">32.</td>
                <td>I get bored with formality, systems and rigid processes</td>
                <td><input type="checkbox" id="q32" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">33.</td>
                <td>Time is more important to me when doing a job, than   people’s feelings</td>
                <td><input type="checkbox" id="q33" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">34.</td>
                <td>I enjoy being part of the team more than being the leader </td>
                <td><input type="checkbox" id="q34" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">35.</td>
                <td>Structure, rules & procedures are important to me</td>
                <td><input type="checkbox" id="q35" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">36.</td>
                <td>I am often described as a workaholic</td>
                <td><input type="checkbox" id="q36" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">37.</td>
                <td>I thrive on new, challenging and different tasks</td>
                <td><input type="checkbox" id="q37" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">38.</td>
                <td>I enjoy reading more than talking</td>
                <td><input type="checkbox" id="q38" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">39.</td>
                <td>I don’t like being rushed</td>
                <td><input type="checkbox" id="q39" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">40.</td>
                <td>I am highly competitive</td>
                <td><input type="checkbox" id="q40" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">41.</td>
                <td>I make decisions quickly and on my own</td>
                <td><input type="checkbox" id="q41" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">42.</td>
                <td>I tend to listen and be influenced by other people’s ideas and suggestions</td>
                <td><input type="checkbox" id="q42" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">43.</td>
                <td>I am a very detailed person</td>
                <td><input type="checkbox" id="q43" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">44.</td>
                <td>I am seen as a controlled, confident and courageous person</td>
                <td><input type="checkbox" id="q44" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">45.</td>
                <td>I tend to be shy and quiet</td>
                <td><input type="checkbox" id="q45" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">46.</td>
                <td>I enjoy parties and am often the entertainment</td>
                <td><input type="checkbox" id="q46" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">47.</td>
                <td>I enjoy new things, even when they are risky</td>
                <td><input type="checkbox" id="q47" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">48.</td>
                <td>People see me as mild and easy going</td>
                <td><input type="checkbox" id="q48" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">49.</td>
                <td>I am confident and sure of myself in most situations</td>
                <td><input type="checkbox" id="q49" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">50.</td>
                <td>I am neat and tidy in just about everything I do</td>
                <td><input type="checkbox" id="q50" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">51.</td>
                <td>I get annoyed when people make light of serious situations</td>
                <td><input type="checkbox" id="q51" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">52.</td>
                <td>I don’t like making decisions on my own</td>
                <td><input type="checkbox" id="q52" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">53.</td>
                <td>I have no trouble in making fast and important decisions on my own</td>
                <td><input type="checkbox" id="q53" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">54.</td>
                <td>I often hide how I feel</td>
                <td><input type="checkbox" id="q54" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">55.</td>
                <td>I tend to express exactly how I feel</td>
                <td><input type="checkbox" id="q55" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">56.</td>
                <td>Fine details are very important to me</td>
                <td><input type="checkbox" id="q56" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">57.</td>
                <td>I get aggravated by people who waste time and lose track in discussions</td>
                <td><input type="checkbox" id="q57" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">58.</td>
                <td>I have a reputation for going into situations too fast</td>
                <td><input type="checkbox" id="q58" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">59.</td>
                <td>I tend to take control in most situations</td>
                <td><input type="checkbox" id="q59" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">60.</td>
                <td>I am more attracted to adventurous ideas than practical ones</td>
                <td><input type="checkbox" id="q60" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">61.</td>
                <td>I am often the one talking in the group</td>
                <td><input type="checkbox" id="q61" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">62.</td>
                <td>When I am upset everyone knows</td>
                <td><input type="checkbox" id="q62" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">63.</td>
                <td>I often put off making the hard decisions</td>
                <td><input type="checkbox" id="q63" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">64.</td>
                <td>I am a patient, even tempered and a quiet person</td>
                <td><input type="checkbox" id="q64" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">65.</td>
                <td>I dislike arguing and often give in to people</td>
                <td><input type="checkbox" id="q65" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">66.</td>
                <td>I can be seen as cool and withdrawn by some people</td>
                <td><input type="checkbox" id="q66" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">67.</td>
                <td>I prefer to be the leader than a team player</td>
                <td><input type="checkbox" id="q67" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">68.</td>
                <td>I am a great storyteller and often exaggerate </td>
                <td><input type="checkbox" id="q68" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">69.</td>
                <td>I avoid aggressive and over assertive people</td>
                <td><input type="checkbox" id="q69" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">70.</td>
                <td>Most people see me as a good listener</td>
                <td><input type="checkbox" id="q70" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">71.</td>
                <td>I find expressing my feelings difficult</td>
                <td><input type="checkbox" id="q71" name="DOPE" value="O"></td>
            </tr>
            <tr>
                <td style="text-align:center;">72.</td>
                <td>I am known as warm, friendly and understanding</td>
                <td><input type="checkbox" id="q72" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">73.</td>
                <td>I have no problems in expressing my feelings and opinions in meetings and discussions</td>
                <td><input type="checkbox" id="q73" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">74.</td>
                <td>I prefer to listen than to do the talking</td>
                <td><input type="checkbox" id="q74" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">75.</td>
                <td>I enjoy standing up and talking to groups</td>
                <td><input type="checkbox" id="q75" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">76.</td>
                <td>At the end of the day it is efficiency and results that count</td>
                <td><input type="checkbox" id="q76" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">77.</td>
                <td>People often talk to me about their problems</td>
                <td><input type="checkbox" id="q77" name="DOPE" value="D"></td>
            </tr>
            <tr>
                <td style="text-align:center;">78.</td>
                <td>I rely on my own decisions rather than other people's opinion</td>
                <td><input type="checkbox" id="q78" name="DOPE" value="E"></td>
            </tr>
            <tr>
                <td style="text-align:center;">79.</td>
                <td>I gesture with my hands and talk fast, when I get excited</td>
                <td><input type="checkbox" id="q79" name="DOPE" value="P"></td>
            </tr>
            <tr>
                <td style="text-align:center;">80.</td>
                <td>I can tend to be apprehensive about making decisions on my own and taking action</td>
                <td><input type="checkbox" id="q80" name="DOPE" value="D"></td>
            </tr>
            </table>

            <div class="form-group;" style="text-align:center; margin-top:20px;">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        }

        <div style="text-align:center; margin-top: 20px;">
            @Html.ActionLink("Previous Page", "Page25") |
            @Html.ActionLink("Main", "Index") |
            @Html.ActionLink("Next Page", "Page27")
        </div>
    </div>

  

}




@section Scripts{

    <script type="text/javascript">

        function CheckValue() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);
            if (!checkedOne) {
                toastr.warning("No selection! Please select any checkboxes.")
                return false;
            }
            return true;

        }

        //confirmation dialog


        $('form').submit(function (e) {
            var currentForm = this;
            e.preventDefault();
            bootbox.confirm("Are you sure you want to submit your work?", function (result) {
                if (result) {
                    if (CheckValue()) {
                        currentForm.submit();
                    }
                }
            });
        });


    </script>
}
